<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/instructions">Instructions</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link"  routerLink="/template-driven-form">Employee #1 Template-driven</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/reactive-form">Employee #1 Reactive Forms</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/posts">Posts #2 API</a>
      </li>
    </ul>
  </div>
</nav>
