<div class="container py-5">
  <h2 class="mb-4">Registrácia zamestnanca</h2>
  <form [formGroup]="employeeForm">
    <app-basic-information [employeeForm]="employeeForm"></app-basic-information>
    <app-address [employeeForm]="employeeForm"></app-address>
    <app-contact-information [employeeForm]="employeeForm"></app-contact-information>
    <button type="submit" class="my-2 btn btn-primary" (click)="saveEmployee()">Potvrdiť registráciu</button>
  </form>
</div>

<app-list-of-employees [employeesList]="employeesList"></app-list-of-employees>
