<div [formGroup]="employeeForm">
<label>Pozícia:</label>
<select class="custom-select" formControlName="position">
  <option selected>Vyberte pozíciu</option>
  <option value="JavaScript developer">JavaScript developer</option>
  <option value="Analyst programmer">Analyst programmer</option>
  <option value="Application integration engineer">Application integration engineer</option>
  <option value="Application support manager">Application support manager</option>
  <option value="Computer operator">Computer operator</option>
  <option value="Computer programmer">Computer programmer</option>
  <option value="Computer systems manager">Computer systems manager</option>
  <option value=">Desktop support">Desktop support</option>
  <option value="Desktop technician">Desktop technician</option>
  <option value="JAVA developer">JAVA developer</option>
  <option value="Local area network engineer">Local area network engineer</option>
  <option value="Network engineer">Network engineer</option>
  <option value="PC maintenance technician">PC maintenance technician</option>
  <option value="Program analyst">Program analyst</option>
  <option value="Project manager">Project manager</option>
  <option value="Software engineer">Software engineer</option>
  <option value="System administrator">System administrator</option>
  <option value="System analyst">System analyst</option>
  <option value="Wide area network engineer">Wide area network engineer</option>
</select>
</div>
