<section>
  <div class="container py-5">
    <h2 class="mb-4">Zoznam zamestnancov</h2>
    <div class="alert alert-info" role="alert" *ngIf="employeesList.length == 0; else listOfEmployees">
      Momentálne neevidujeme žiadnych zamestnancov.
    </div>
    <ng-template #listOfEmployees>
    <div class="card-deck mb-4">
      <!-- card -->
      <div class="card card-min-width mb-4" *ngFor="let employee of employeesList">
        <div class="card-body">
          <h5 class="card-title" *ngIf="employee.surname, else firstNameOnly">{{employee.name + ' ' + employee.surname}}</h5>
          <ng-template #firstNameOnly>
            <h5 class="card-title">{{employee.name}}</h5>
          </ng-template>
          <div class="row">
            <div class="col-md-6">
              <div class="row mb-2">
                <div class="col-md-12"><strong>Pozícia</strong></div>
                <div class="col-md-12">{{employee.position}}</div>
              </div>
              <div class="row mb-2">
                <div class="col-md-12"><strong>Dátum narodenia</strong></div>
                <div class="col-md-12">{{employee.birthDate | date:"dd.MM.yyyy"}}</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row mb-2">
                <div class="col-md-12"><strong>Telefónne číslo</strong></div>
                <div class="col-md-12">{{employee.phone}}</div>
              </div>
              <div class="row mb-2">
                <div class="col-md-12"><strong>Email</strong></div>
                <div class="col-md-12"><a href="mailto:michal.peterko@email.com">{{employee.email}}</a></div>
              </div>
              <div class="row mb-2">
                <div class="col-md-12"><strong>Web</strong></div>
                <div class="col-md-12"><a href="http://www.michalpeterko.com" target="_blank">{{employee.website}}</a></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12"><strong>Adresa</strong></div>
            <div class="col-md-12">
              {{employee.street + ' ' + employee.suite + ', ' + employee.zipCode + ' ' + employee.city}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" class="btn btn-secondary float-right" data-dismiss="modal" (click)="removeEmployee(employee)">Vymaž</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </ng-template>
  </div>
</section>
