<div class="container py-5">
  <h2 class="mb-4">Registrácia zamestnanca</h2>
  <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmitTemplateBased()">
    <article>
      <h5 class="my-4">Základné informácie</h5>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="name">Meno:</label>
            <input type="text" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" #name="ngModel" id="name" name="name" [(ngModel)]="employee.name"  required>
            <div class="invalid-feedback" *ngIf="f.submitted && name.invalid">
              Prosím vyplňte povinné pole.
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="suite">Priezvisko:</label>
            <input type="text" class="form-control" id="surname" name="surname" [(ngModel)]="employee.surname">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="birthDate">Dátum narodenia:</label>
            <input type="date" class="form-control" id="birthDate" name="birthDate" [(ngModel)]="employee.birthDate">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="position">Pozícia:</label>
            <select class="custom-select" id="position" name="position" [(ngModel)]="employee.position">
              <option selected>Vyberte pozíciu</option>
              <option value="JavaScript developer">JavaScript developer</option>
              <option value="Analyst programmer">Analyst programmer</option>
              <option value="Application integration engineer">Application integration engineer</option>
              <option value="Application support manager">Application support manager</option>
              <option value="Computer operator">Computer operator</option>
              <option value="Computer programmer">Computer programmer</option>
              <option value="Computer systems manager">Computer systems manager</option>
              <option value=">Desktop support">Desktop support</option>
              <option value="Desktop technician">Desktop technician</option>
              <option value="JAVA developer">JAVA developer</option>
              <option value="Local area network engineer">Local area network engineer</option>
              <option value="Network engineer">Network engineer</option>
              <option value="PC maintenance technician">PC maintenance technician</option>
              <option value="Program analyst">Program analyst</option>
              <option value="Project manager">Project manager</option>
              <option value="Software engineer">Software engineer</option>
              <option value="System administrator">System administrator</option>
              <option value="System analyst">System analyst</option>
              <option value="Wide area network engineer">Wide area network engineer</option>
            </select>
          </div>
        </div>
      </div>
    </article>
    <article>
      <h5 class="my-4">Adresa</h5>
      <div class="row">
        <div class="col-md-9">
          <div class="form-group">
            <label for="street">Ulica:</label>
            <input type="text" class="form-control" id="street" name="street" [(ngModel)]="employee.street">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="suite">Číslo domu:</label>
            <input type="text" class="form-control" id="suite" name="suite" [(ngModel)]="employee.suite">
          </div>
        </div>
      </div>
    </article>
    <div class="row">
      <div class="col-md-9">
        <div class="form-group">
          <label for="city">Mesto:</label>
          <input type="text" class="form-control" id="city" name="city" [(ngModel)]="employee.city">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="zipcode">PSČ:</label>
          <input type="text" class="form-control" id="zipcode" name="zipcode" [(ngModel)]="employee.zipCode">
        </div>
      </div>
    </div>
    <article>
      <h5 class="my-4">Kontakné informácie</h5>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="phone">Telefónne číslo:</label>
            <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="employee.phone">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="website">Web:</label>
            <input type="text" class="form-control" id="website" name="website" [(ngModel)]="employee.website">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" name="email" [(ngModel)]="employee.email">
          </div>
        </div>
      </div>
    </article>
    <button type="submit" class="my-2 btn btn-primary">Potvrdiť registráciu</button>
  </form>
</div>

<app-list-of-employees [employeesList]="employeesList"></app-list-of-employees>
