<form [formGroup]="employeeForm">
  <h5 class="my-4">Kontakné informácie</h5>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="phone">Telefónne číslo:</label>
        <input type="text" class="form-control" id="phone" formControlName="phone">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="website">Web:</label>
        <input type="text" class="form-control" id="website" formControlName="website">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" id="email" formControlName="email">
      </div>
    </div>
  </div>
</form>
