<form [formGroup]="employeeForm">
  <h5 class="my-4">Základné informácie</h5>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="name">Meno:</label>
        <input type="text" class="form-control" id="name" formControlName="name"
               [ngClass]="{ 'is-invalid': !employeeForm.controls.name.pristine && employeeForm.controls.name.errors}">
        <div class="invalid-feedback">
          Prosím vyplňte povinné pole.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="surname">Priezvisko:</label>
        <input type="text" class="form-control" id="surname" formControlName="surname">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="birthdate">Dátum narodenia:</label>
        <input type="date" class="form-control" id="birthdate" formControlName="birthDate">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <app-select-positions [employeeForm]="employeeForm"></app-select-positions>
      </div>
    </div>
  </div>
</form>
