<h5 class="my-4">Adresa</h5>
<form [formGroup]="employeeForm">
  <div class="row">
    <div class="col-md-9">
      <div class="form-group">
        <label for="street">Ulica:</label>
        <input type="text" class="form-control" id="street" formControlName="street">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="suite">Číslo domu:</label>
        <input type="text" class="form-control" id="suite" formControlName="suite">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="form-group">
        <label for="city">Mesto:</label>
        <input type="text" class="form-control" id="city" formControlName="city">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="zipcode">PSČ:</label>
        <input type="text" class="form-control" id="zipcode" formControlName="zipCode">
      </div>
    </div>
  </div>
</form>
