<div class="container py-5">
  <h2 class="mb-4">Zoznam článkov</h2>
  <div *ngIf="articles$ | async as data">
  <div class="alert alert-info" role="alert" *ngIf="data.length == 0">
    Momentálne neevidujeme žiadne články.
  </div>
    <div class="card-deck mb-4">
      <!-- card -->
      <div class="card mb-4 card-min-width" *ngFor="let item of data">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text">{{item.body}}</p>
          <a class="card-link" [routerLink]="['/posts', item.id]">čítaj viac</a>
        </div>
      </div>
    </div>
  </div>
</div>
