<div class="container py-5" *ngIf="article$ | async as data">
  <h2 class="mb-4">{{data.title}}</h2>
  <p>
    {{data.body}}
  </p>
  <div class="py-5" *ngIf="comments$ | async as comments">
    <h4 class="mb-4">Komentáre ({{comments.length}})</h4>
    <div class="card mb-3" *ngFor="let comment of comments">
      <div class="card-body">
        <h5 class="card-title">{{comment.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{comment.email}}</h6>
        <p class="card-text">{{comment.body}}</p>
      </div>
    </div>
  </div>
</div>
